/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir=rtl] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

.primaryBackground {
  background: #ED1B24;
}

.darkBackground {
  background: #000;
}

.button {
  display: block;
  max-width: 200px;
  font-size: 14px;
  text-align: center;
  color: #fff;
  background: #ED1B24;
  border-radius: 3px;
  padding: 10px 80px;
  margin-top: 40px;
  transition: 0.3s;
}
.button:hover {
  background: #000;
}
.button .buttonPrimary {
  background: #ED1B24;
}
.button .buttonPrimary:hover {
  background: #000;
}
.button .buttonDark {
  background: #000;
}
.button .buttonDark:hover {
  background: #ED1B24;
}

ul {
  padding-left: 0;
  list-style: none;
  margin-bottom: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  color: inherit;
}

.logoWrapper {
  background: #000;
  padding: 28px 0;
  text-align: center;
}

.footer {
  background: #000;
  color: #fff;
  padding: 30px 0 40px;
  text-align: center;
  font-size: 12px;
}
.footer p {
  margin-bottom: 0;
}

.banner {
  background: #ED1B24;
  text-align: center;
  position: relative;
}
.banner .container {
  position: relative;
}
.banner .socials {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.banner .socials li {
  margin-bottom: 16px;
}
.banner .socials li:last-child {
  margin-bottom: 0;
}
.banner .socials a {
  display: flex;
  width: 32px;
  height: 32px;
  background: #000;
  border-radius: 20px;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ED1B24;
}
.banner .socials svg {
  width: 16px;
}

.form {
  padding: 160px 0;
}

.sliderWrapper {
  position: relative;
}

.slider {
  position: relative;
}
.slider .slide {
  padding: 145px 0 285px;
  position: relative;
}
.slider .slide img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 1;
}
.slider .slide .slideContent {
  position: relative;
  z-index: 2;
  color: #fff;
}

.sliderNavigation {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 53px;
}
.sliderNavigation .container {
  display: flex;
  align-items: center;
}
.sliderNavigation .sliderNav button {
  border: none;
  background: none;
}
.sliderNavigation .sliderNav button svg path {
  transition: 0.3s;
}
.sliderNavigation .sliderNav button:hover svg path {
  fill: #ED1B24;
}

.slick-dots {
  display: flex;
}
.slick-dots li {
  display: flex;
  padding: 0 5px;
}
.slick-dots li button {
  width: 19px;
  height: 8px;
  border: 1px solid #fff;
  background: none;
  color: transparent;
  border-radius: 5px;
  transition: 0.3s;
  font-size: 0;
}
.slick-dots li button:hover {
  background: #fff;
}
.slick-dots li.slick-active button {
  width: 38px;
  background: #fff;
}
