.button {
    display: inline-block;
    font-size: 14px;
    text-align: center;
    color: #fff;
    background: $primaryColor;
    border-radius: 3px;
    padding: 10px 50px;
    transition: 0.3s;
    border: 2px solid $primaryColor;

    &:hover {
        background: none;
        border-color: $primaryColor;
        color: $primaryColor;
    }

    &.buttonPrimary {
        background: $primaryColor;
        border-color: $primaryColor;

        &:hover {
            background: none;
            border-color: $primaryColor;
            color: $primaryColor;
        }
    }

    &.buttonDark {
        background: $darkColor;
        border-color: $darkColor;

        &:hover {
            background: none;
            border-color: $darkColor;
            color: #000;
        }
    }
}

.buttonWrapper {
    .button {
        margin: 40px 20px 0 0;

        @media (max-width: 640px) {
            margin: 20px 20px 0 0;
        }

        &:last-child {
            margin-right: 0;
        }
    }
}
