/* Connecting Fonts      :-
--------------------------- */
@font-face {
    font-family: 'Gotham';
    src: url("http://kryzal.com/joe/common/fonts/Gotham-Book_gdi.eot");
    src: url("http://kryzal.com/joe/common/fonts/Gotham-Book_gdi.eot?#iefix") format('embedded-opentype'), url("http://kryzal.com/joe/common/fonts/Gotham-Book_gdi.woff") format('woff'), url("http://kryzal.com/joe/common/fonts/Gotham-Book_gdi.ttf") format('truetype'), url("http://kryzal.com/joe/common/fonts/Gotham-Book_gdi.svg#Gotham-Book") format('svg');
    font-weight: 325;
    font-style: normal;
    font-stretch: normal;
}
.bottle-container {
    position: relative;
    width: 100%;
    height: 700px;
    margin: 0 auto;
    text-align: center;
    -webkit-border-radius: 0.5em;
    border-radius: 0.5em;
    overflow: visible !important;
}
.bottle-container svg {
    margin-top: 2em;
    overflow: visible !important;
    display: inline-block;
}
@media (max-width: 700px) {
    .bottle-container svg {
        width: 60%;
        height: 60%;
    }
}
@media (max-width: 500px) {
    .bottle-container svg {
        width: 40%;
        height: 40%;
    }
}
@media (max-width: 700px) {
    .bottle-container {
        width: 100%;
    }
}
.bottle_cap {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-animation: bottle-cap 0.8s linear;
    -moz-animation: bottle-cap 0.8s linear;
    -o-animation: bottle-cap 0.8s linear;
    -ms-animation: bottle-cap 0.8s linear;
    animation: bottle-cap 0.8s linear;
    -webkit-animation-delay: 7.1s;
    -moz-animation-delay: 7.1s;
    -o-animation-delay: 7.1s;
    -ms-animation-delay: 7.1s;
    animation-delay: 7.1s;
    -webkit-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
    -o-animation-iteration-count: 1;
    -ms-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    -ms-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
.bottle_logo {
    fill: #ca3942;
}
.bottle_loader {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    -webkit-animation: bottle-loader 7.1s linear;
    -moz-animation: bottle-loader 7.1s linear;
    -o-animation: bottle-loader 7.1s linear;
    -ms-animation: bottle-loader 7.1s linear;
    animation: bottle-loader 7.1s linear;
    -webkit-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
    -o-animation-iteration-count: 1;
    -ms-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    -ms-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
.bottle_open {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-animation: fade-in 0.1s linear;
    -moz-animation: fade-in 0.1s linear;
    -o-animation: fade-in 0.1s linear;
    -ms-animation: fade-in 0.1s linear;
    animation: fade-in 0.1s linear;
    -webkit-animation-delay: 6.899999999999999s;
    -moz-animation-delay: 6.899999999999999s;
    -o-animation-delay: 6.899999999999999s;
    -ms-animation-delay: 6.899999999999999s;
    animation-delay: 6.899999999999999s;
    -webkit-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
    -o-animation-iteration-count: 1;
    -ms-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    -ms-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
.bottle_outline {
    stroke: rgba(255,255,255,0.15);
    -webkit-animation: switch-outline 0.1s linear;
    -moz-animation: switch-outline 0.1s linear;
    -o-animation: switch-outline 0.1s linear;
    -ms-animation: switch-outline 0.1s linear;
    animation: switch-outline 0.1s linear;
    -webkit-animation-delay: 7.1s;
    -moz-animation-delay: 7.1s;
    -o-animation-delay: 7.1s;
    -ms-animation-delay: 7.1s;
    animation-delay: 7.1s;
    -webkit-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
    -o-animation-iteration-count: 1;
    -ms-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    -ms-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
.fill_waves {
    fill: #752024;
    -webkit-animation: bottle-waves 0.3s linear infinite;
    -moz-animation: bottle-waves 0.3s linear infinite;
    -o-animation: bottle-waves 0.3s linear infinite;
    -ms-animation: bottle-waves 0.3s linear infinite;
    animation: bottle-waves 0.3s linear infinite;
    -webkit-animation-delay: 6.8s;
    -moz-animation-delay: 6.8s;
    -o-animation-delay: 6.8s;
    -ms-animation-delay: 6.8s;
    animation-delay: 6.8s;
    -webkit-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
    -o-animation-iteration-count: 1;
    -ms-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    -ms-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
}
.circle-1,
.circle-2,
.circle-3,
.circle-4,
.circle-5,
.circle-6,
.circle-7,
.circle-8,
.circle-9 {
    -webkit-animation: bubbles 1.5s linear infinite;
    -moz-animation: bubbles 1.5s linear infinite;
    -o-animation: bubbles 1.5s linear infinite;
    -ms-animation: bubbles 1.5s linear infinite;
    animation: bubbles 1.5s linear infinite;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}
.circle-1 {
    -webkit-animation-delay: 0.2s;
    -moz-animation-delay: 0.2s;
    -o-animation-delay: 0.2s;
    -ms-animation-delay: 0.2s;
    animation-delay: 0.2s;
}
.circle-2 {
    -webkit-animation-delay: 0.4s;
    -moz-animation-delay: 0.4s;
    -o-animation-delay: 0.4s;
    -ms-animation-delay: 0.4s;
    animation-delay: 0.4s;
}
.circle-3 {
    -webkit-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
    -o-animation-delay: 0.6s;
    -ms-animation-delay: 0.6s;
    animation-delay: 0.6s;
}
.circle-4 {
    -webkit-animation-delay: 0.8s;
    -moz-animation-delay: 0.8s;
    -o-animation-delay: 0.8s;
    -ms-animation-delay: 0.8s;
    animation-delay: 0.8s;
}
.circle-5 {
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -o-animation-delay: 1s;
    -ms-animation-delay: 1s;
    animation-delay: 1s;
}
.circle-6 {
    -webkit-animation-delay: 1.2s;
    -moz-animation-delay: 1.2s;
    -o-animation-delay: 1.2s;
    -ms-animation-delay: 1.2s;
    animation-delay: 1.2s;
}
.circle-7 {
    -webkit-animation-delay: 1.4s;
    -moz-animation-delay: 1.4s;
    -o-animation-delay: 1.4s;
    -ms-animation-delay: 1.4s;
    animation-delay: 1.4s;
}
.circle-8 {
    -webkit-animation-delay: 1.6s;
    -moz-animation-delay: 1.6s;
    -o-animation-delay: 1.6s;
    -ms-animation-delay: 1.6s;
    animation-delay: 1.6s;
}
.circle-9 {
    -webkit-animation-delay: 1.8s;
    -moz-animation-delay: 1.8s;
    -o-animation-delay: 1.8s;
    -ms-animation-delay: 1.8s;
    animation-delay: 1.8s;
}
.bubbles_group {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-animation: fade-in 0.1s linear;
    -moz-animation: fade-in 0.1s linear;
    -o-animation: fade-in 0.1s linear;
    -ms-animation: fade-in 0.1s linear;
    animation: fade-in 0.1s linear;
    -webkit-animation-delay: 7.6s;
    -moz-animation-delay: 7.6s;
    -o-animation-delay: 7.6s;
    -ms-animation-delay: 7.6s;
    animation-delay: 7.6s;
    -webkit-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
    -o-animation-iteration-count: 1;
    -ms-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    -ms-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
.loading-done {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    display: inline-block;
    width: 100%;
    -webkit-animation: fade-up-stay 0.3s linear;
    -moz-animation: fade-up-stay 0.3s linear;
    -o-animation: fade-up-stay 0.3s linear;
    -ms-animation: fade-up-stay 0.3s linear;
    animation: fade-up-stay 0.3s linear;
    -webkit-animation-delay: 6.899999999999999s;
    -moz-animation-delay: 6.899999999999999s;
    -o-animation-delay: 6.899999999999999s;
    -ms-animation-delay: 6.899999999999999s;
    animation-delay: 6.899999999999999s;
    -webkit-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
    -o-animation-iteration-count: 1;
    -ms-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    -ms-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
.counter {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
}
.counter:after {
    content: '%';
}
.counter.active {
    opacity: 1;
    -ms-filter: none;
    filter: none;
}
.loading-counter {
    position: relative;
    display: inline-block;
    height: 12px;
    width: 100%;
    -webkit-animation: fade-up 0.3s linear;
    -moz-animation: fade-up 0.3s linear;
    -o-animation: fade-up 0.3s linear;
    -ms-animation: fade-up 0.3s linear;
    animation: fade-up 0.3s linear;
    -webkit-animation-delay: 6.6s;
    -moz-animation-delay: 6.6s;
    -o-animation-delay: 6.6s;
    -ms-animation-delay: 6.6s;
    animation-delay: 6.6s;
    -webkit-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
    -o-animation-iteration-count: 1;
    -ms-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    -ms-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
.loading-counter span {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}
.loading-container {
    display: inline-block;
    width: 100%;
    margin-top: 2em;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0.15em;
    font-family: 'Gotham', Arial, sans-serif;
    text-transform: uppercase;
    color: #fff;
}
.loading-container.active {
    opacity: 1;
    -ms-filter: none;
    filter: none;
}
.reload-demo {
    border: 0.2em solid #fff;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    text-decoration: none;
    font-family: 'Gotham', Arial, sans-serif;
    letter-spacing: 0.15em;
    font-weight: 500;
    padding: 0.4em 1em;
    -webkit-border-radius: 1.5em;
    border-radius: 1.5em;
    position: absolute;
    bottom: 2em;
    right: 2em;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-animation: fade-in 0.1s linear;
    -moz-animation: fade-in 0.1s linear;
    -o-animation: fade-in 0.1s linear;
    -ms-animation: fade-in 0.1s linear;
    animation: fade-in 0.1s linear;
    -webkit-animation-delay: 6.6s;
    -moz-animation-delay: 6.6s;
    -o-animation-delay: 6.6s;
    -ms-animation-delay: 6.6s;
    animation-delay: 6.6s;
    -webkit-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
    -o-animation-iteration-count: 1;
    -ms-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    -ms-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
.reload-demo:hover {
    background-color: #fff;
    color: #ca3942;
}
/* Browser Fallbacks     :-
--------------------------- */
.browser-support {
    display: none;
    width: 100%;
    text-align: center;
    font-family: 'Gotham', Arial, sans-serif;
}
.browser-support img {
    display: block;
    margin: 4em auto;
}
.browser-support p {
    margin-bottom: 1em;
    color: #777;
}
.browser-ie .bottle-container {
    display: none;
}
.browser-ie .browser-support {
    display: block;
}
.browser-logos {
    margin-top: 2em;
    margin-bottom: 2em;
}
.browser-logos a {
    display: inline-block;
    width: 4em;
    margin: 0 0.75em;
    text-decoration: none;
    color: #777;
}
.browser-logos a:hover {
    opacity: 0.8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
}
.browser-logos img {
    display: inline-block;
    width: 100%;
    height: auto;
    margin: 0;
}
.browser-logos .text {
    display: inline-block;
    margin-top: 0.5em;
}
.loading-message {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    display: inline-block;
    -webkit-animation: hide-loading-message 0.3s linear;
    -moz-animation: hide-loading-message 0.3s linear;
    -o-animation: hide-loading-message 0.3s linear;
    -ms-animation: hide-loading-message 0.3s linear;
    animation: hide-loading-message 0.3s linear;
    -webkit-animation-delay: 3s;
    -moz-animation-delay: 3s;
    -o-animation-delay: 3s;
    -ms-animation-delay: 3s;
    animation-delay: 3s;
    -webkit-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
    -o-animation-iteration-count: 1;
    -ms-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    -ms-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
@-moz-keyframes bottle-cap {
    0% {
        opacity: 1;
        -ms-filter: none;
        filter: none;
        -webkit-transform: rotate(0) translateY(0);
        -moz-transform: rotate(0) translateY(0);
        -o-transform: rotate(0) translateY(0);
        -ms-transform: rotate(0) translateY(0);
        transform: rotate(0) translateY(0);
    }
    15% {
        -webkit-transform: translateX(40px) translateY(-40px) rotate(60deg);
        -moz-transform: translateX(40px) translateY(-40px) rotate(60deg);
        -o-transform: translateX(40px) translateY(-40px) rotate(60deg);
        -ms-transform: translateX(40px) translateY(-40px) rotate(60deg);
        transform: translateX(40px) translateY(-40px) rotate(60deg);
    }
    45% {
        -webkit-transform: translateX(140px) translateY(-70px) rotate(120deg);
        -moz-transform: translateX(140px) translateY(-70px) rotate(120deg);
        -o-transform: translateX(140px) translateY(-70px) rotate(120deg);
        -ms-transform: translateX(140px) translateY(-70px) rotate(120deg);
        transform: translateX(140px) translateY(-70px) rotate(120deg);
    }
    65% {
        -webkit-transform: translateX(160px) translateY(-50px) rotate(135deg);
        -moz-transform: translateX(160px) translateY(-50px) rotate(135deg);
        -o-transform: translateX(160px) translateY(-50px) rotate(135deg);
        -ms-transform: translateX(160px) translateY(-50px) rotate(135deg);
        transform: translateX(160px) translateY(-50px) rotate(135deg);
    }
    75% {
        -webkit-transform: translateX(175px) translateY(330px) rotate(180deg);
        -moz-transform: translateX(175px) translateY(330px) rotate(180deg);
        -o-transform: translateX(175px) translateY(330px) rotate(180deg);
        -ms-transform: translateX(175px) translateY(330px) rotate(180deg);
        transform: translateX(175px) translateY(330px) rotate(180deg);
    }
    90% {
        -webkit-transform: translateX(170px) translateY(335px) rotate(135deg);
        -moz-transform: translateX(170px) translateY(335px) rotate(135deg);
        -o-transform: translateX(170px) translateY(335px) rotate(135deg);
        -ms-transform: translateX(170px) translateY(335px) rotate(135deg);
        transform: translateX(170px) translateY(335px) rotate(135deg);
    }
    100% {
        opacity: 1;
        -ms-filter: none;
        filter: none;
        -webkit-transform: translateX(175px) translateY(360px) rotate(180deg);
        -moz-transform: translateX(175px) translateY(360px) rotate(180deg);
        -o-transform: translateX(175px) translateY(360px) rotate(180deg);
        -ms-transform: translateX(175px) translateY(360px) rotate(180deg);
        transform: translateX(175px) translateY(360px) rotate(180deg);
    }
}
@-webkit-keyframes bottle-cap {
    0% {
        opacity: 1;
        -ms-filter: none;
        filter: none;
        -webkit-transform: rotate(0) translateY(0);
        -moz-transform: rotate(0) translateY(0);
        -o-transform: rotate(0) translateY(0);
        -ms-transform: rotate(0) translateY(0);
        transform: rotate(0) translateY(0);
    }
    15% {
        -webkit-transform: translateX(40px) translateY(-40px) rotate(60deg);
        -moz-transform: translateX(40px) translateY(-40px) rotate(60deg);
        -o-transform: translateX(40px) translateY(-40px) rotate(60deg);
        -ms-transform: translateX(40px) translateY(-40px) rotate(60deg);
        transform: translateX(40px) translateY(-40px) rotate(60deg);
    }
    45% {
        -webkit-transform: translateX(140px) translateY(-70px) rotate(120deg);
        -moz-transform: translateX(140px) translateY(-70px) rotate(120deg);
        -o-transform: translateX(140px) translateY(-70px) rotate(120deg);
        -ms-transform: translateX(140px) translateY(-70px) rotate(120deg);
        transform: translateX(140px) translateY(-70px) rotate(120deg);
    }
    65% {
        -webkit-transform: translateX(160px) translateY(-50px) rotate(135deg);
        -moz-transform: translateX(160px) translateY(-50px) rotate(135deg);
        -o-transform: translateX(160px) translateY(-50px) rotate(135deg);
        -ms-transform: translateX(160px) translateY(-50px) rotate(135deg);
        transform: translateX(160px) translateY(-50px) rotate(135deg);
    }
    75% {
        -webkit-transform: translateX(175px) translateY(330px) rotate(180deg);
        -moz-transform: translateX(175px) translateY(330px) rotate(180deg);
        -o-transform: translateX(175px) translateY(330px) rotate(180deg);
        -ms-transform: translateX(175px) translateY(330px) rotate(180deg);
        transform: translateX(175px) translateY(330px) rotate(180deg);
    }
    90% {
        -webkit-transform: translateX(170px) translateY(335px) rotate(135deg);
        -moz-transform: translateX(170px) translateY(335px) rotate(135deg);
        -o-transform: translateX(170px) translateY(335px) rotate(135deg);
        -ms-transform: translateX(170px) translateY(335px) rotate(135deg);
        transform: translateX(170px) translateY(335px) rotate(135deg);
    }
    100% {
        opacity: 1;
        -ms-filter: none;
        filter: none;
        -webkit-transform: translateX(175px) translateY(360px) rotate(180deg);
        -moz-transform: translateX(175px) translateY(360px) rotate(180deg);
        -o-transform: translateX(175px) translateY(360px) rotate(180deg);
        -ms-transform: translateX(175px) translateY(360px) rotate(180deg);
        transform: translateX(175px) translateY(360px) rotate(180deg);
    }
}
@-o-keyframes bottle-cap {
    0% {
        opacity: 1;
        -ms-filter: none;
        filter: none;
        -webkit-transform: rotate(0) translateY(0);
        -moz-transform: rotate(0) translateY(0);
        -o-transform: rotate(0) translateY(0);
        -ms-transform: rotate(0) translateY(0);
        transform: rotate(0) translateY(0);
    }
    15% {
        -webkit-transform: translateX(40px) translateY(-40px) rotate(60deg);
        -moz-transform: translateX(40px) translateY(-40px) rotate(60deg);
        -o-transform: translateX(40px) translateY(-40px) rotate(60deg);
        -ms-transform: translateX(40px) translateY(-40px) rotate(60deg);
        transform: translateX(40px) translateY(-40px) rotate(60deg);
    }
    45% {
        -webkit-transform: translateX(140px) translateY(-70px) rotate(120deg);
        -moz-transform: translateX(140px) translateY(-70px) rotate(120deg);
        -o-transform: translateX(140px) translateY(-70px) rotate(120deg);
        -ms-transform: translateX(140px) translateY(-70px) rotate(120deg);
        transform: translateX(140px) translateY(-70px) rotate(120deg);
    }
    65% {
        -webkit-transform: translateX(160px) translateY(-50px) rotate(135deg);
        -moz-transform: translateX(160px) translateY(-50px) rotate(135deg);
        -o-transform: translateX(160px) translateY(-50px) rotate(135deg);
        -ms-transform: translateX(160px) translateY(-50px) rotate(135deg);
        transform: translateX(160px) translateY(-50px) rotate(135deg);
    }
    75% {
        -webkit-transform: translateX(175px) translateY(330px) rotate(180deg);
        -moz-transform: translateX(175px) translateY(330px) rotate(180deg);
        -o-transform: translateX(175px) translateY(330px) rotate(180deg);
        -ms-transform: translateX(175px) translateY(330px) rotate(180deg);
        transform: translateX(175px) translateY(330px) rotate(180deg);
    }
    90% {
        -webkit-transform: translateX(170px) translateY(335px) rotate(135deg);
        -moz-transform: translateX(170px) translateY(335px) rotate(135deg);
        -o-transform: translateX(170px) translateY(335px) rotate(135deg);
        -ms-transform: translateX(170px) translateY(335px) rotate(135deg);
        transform: translateX(170px) translateY(335px) rotate(135deg);
    }
    100% {
        opacity: 1;
        -ms-filter: none;
        filter: none;
        -webkit-transform: translateX(175px) translateY(360px) rotate(180deg);
        -moz-transform: translateX(175px) translateY(360px) rotate(180deg);
        -o-transform: translateX(175px) translateY(360px) rotate(180deg);
        -ms-transform: translateX(175px) translateY(360px) rotate(180deg);
        transform: translateX(175px) translateY(360px) rotate(180deg);
    }
}
@keyframes bottle-cap {
    0% {
        opacity: 1;
        -ms-filter: none;
        filter: none;
        -webkit-transform: rotate(0) translateY(0);
        -moz-transform: rotate(0) translateY(0);
        -o-transform: rotate(0) translateY(0);
        -ms-transform: rotate(0) translateY(0);
        transform: rotate(0) translateY(0);
    }
    15% {
        -webkit-transform: translateX(40px) translateY(-40px) rotate(60deg);
        -moz-transform: translateX(40px) translateY(-40px) rotate(60deg);
        -o-transform: translateX(40px) translateY(-40px) rotate(60deg);
        -ms-transform: translateX(40px) translateY(-40px) rotate(60deg);
        transform: translateX(40px) translateY(-40px) rotate(60deg);
    }
    45% {
        -webkit-transform: translateX(140px) translateY(-70px) rotate(120deg);
        -moz-transform: translateX(140px) translateY(-70px) rotate(120deg);
        -o-transform: translateX(140px) translateY(-70px) rotate(120deg);
        -ms-transform: translateX(140px) translateY(-70px) rotate(120deg);
        transform: translateX(140px) translateY(-70px) rotate(120deg);
    }
    65% {
        -webkit-transform: translateX(160px) translateY(-50px) rotate(135deg);
        -moz-transform: translateX(160px) translateY(-50px) rotate(135deg);
        -o-transform: translateX(160px) translateY(-50px) rotate(135deg);
        -ms-transform: translateX(160px) translateY(-50px) rotate(135deg);
        transform: translateX(160px) translateY(-50px) rotate(135deg);
    }
    75% {
        -webkit-transform: translateX(175px) translateY(330px) rotate(180deg);
        -moz-transform: translateX(175px) translateY(330px) rotate(180deg);
        -o-transform: translateX(175px) translateY(330px) rotate(180deg);
        -ms-transform: translateX(175px) translateY(330px) rotate(180deg);
        transform: translateX(175px) translateY(330px) rotate(180deg);
    }
    90% {
        -webkit-transform: translateX(170px) translateY(335px) rotate(135deg);
        -moz-transform: translateX(170px) translateY(335px) rotate(135deg);
        -o-transform: translateX(170px) translateY(335px) rotate(135deg);
        -ms-transform: translateX(170px) translateY(335px) rotate(135deg);
        transform: translateX(170px) translateY(335px) rotate(135deg);
    }
    100% {
        opacity: 1;
        -ms-filter: none;
        filter: none;
        -webkit-transform: translateX(175px) translateY(360px) rotate(180deg);
        -moz-transform: translateX(175px) translateY(360px) rotate(180deg);
        -o-transform: translateX(175px) translateY(360px) rotate(180deg);
        -ms-transform: translateX(175px) translateY(360px) rotate(180deg);
        transform: translateX(175px) translateY(360px) rotate(180deg);
    }
}
@-moz-keyframes bottle-waves {
    0%, 75% {
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
    }
    100% {
        opacity: 1;
        -ms-filter: none;
        filter: none;
    }
}
@-webkit-keyframes bottle-waves {
    0%, 75% {
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
    }
    100% {
        opacity: 1;
        -ms-filter: none;
        filter: none;
    }
}
@-o-keyframes bottle-waves {
    0%, 75% {
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
    }
    100% {
        opacity: 1;
        -ms-filter: none;
        filter: none;
    }
}
@keyframes bottle-waves {
    0%, 75% {
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
    }
    100% {
        opacity: 1;
        -ms-filter: none;
        filter: none;
    }
}
@-moz-keyframes bottle-loader {
    0% {
        stroke-dashoffset: 1000;
    }
    52%, 99.5% {
        stroke-dashoffset: 0;
        opacity: 1;
        -ms-filter: none;
        filter: none;
    }
    100% {
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
    }
}
@-webkit-keyframes bottle-loader {
    0% {
        stroke-dashoffset: 1000;
    }
    52%, 99.5% {
        stroke-dashoffset: 0;
        opacity: 1;
        -ms-filter: none;
        filter: none;
    }
    100% {
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
    }
}
@-o-keyframes bottle-loader {
    0% {
        stroke-dashoffset: 1000;
    }
    52%, 99.5% {
        stroke-dashoffset: 0;
        opacity: 1;
        -ms-filter: none;
        filter: none;
    }
    100% {
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
    }
}
@keyframes bottle-loader {
    0% {
        stroke-dashoffset: 1000;
    }
    52%, 99.5% {
        stroke-dashoffset: 0;
        opacity: 1;
        -ms-filter: none;
        filter: none;
    }
    100% {
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
    }
}
@-moz-keyframes switch-outline {
    0% {
        opacity: 1;
        -ms-filter: none;
        filter: none;
    }
    100% {
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
    }
}
@-webkit-keyframes switch-outline {
    0% {
        opacity: 1;
        -ms-filter: none;
        filter: none;
    }
    100% {
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
    }
}
@-o-keyframes switch-outline {
    0% {
        opacity: 1;
        -ms-filter: none;
        filter: none;
    }
    100% {
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
    }
}
@keyframes switch-outline {
    0% {
        opacity: 1;
        -ms-filter: none;
        filter: none;
    }
    100% {
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
    }
}
@-moz-keyframes fade-in {
    0% {
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
    }
    100% {
        opacity: 1;
        -ms-filter: none;
        filter: none;
    }
}
@-webkit-keyframes fade-in {
    0% {
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
    }
    100% {
        opacity: 1;
        -ms-filter: none;
        filter: none;
    }
}
@-o-keyframes fade-in {
    0% {
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
    }
    100% {
        opacity: 1;
        -ms-filter: none;
        filter: none;
    }
}
@keyframes fade-in {
    0% {
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
    }
    100% {
        opacity: 1;
        -ms-filter: none;
        filter: none;
    }
}
@-moz-keyframes bubbles {
    0% {
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
        -webkit-transform: translateY(-2px) scale(0.8);
        -moz-transform: translateY(-2px) scale(0.8);
        -o-transform: translateY(-2px) scale(0.8);
        -ms-transform: translateY(-2px) scale(0.8);
        transform: translateY(-2px) scale(0.8);
    }
    100% {
        opacity: 1;
        -ms-filter: none;
        filter: none;
        -webkit-transform: translateY(-12px) scale(1);
        -moz-transform: translateY(-12px) scale(1);
        -o-transform: translateY(-12px) scale(1);
        -ms-transform: translateY(-12px) scale(1);
        transform: translateY(-12px) scale(1);
    }
}
@-webkit-keyframes bubbles {
    0% {
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
        -webkit-transform: translateY(-2px) scale(0.8);
        -moz-transform: translateY(-2px) scale(0.8);
        -o-transform: translateY(-2px) scale(0.8);
        -ms-transform: translateY(-2px) scale(0.8);
        transform: translateY(-2px) scale(0.8);
    }
    100% {
        opacity: 1;
        -ms-filter: none;
        filter: none;
        -webkit-transform: translateY(-12px) scale(1);
        -moz-transform: translateY(-12px) scale(1);
        -o-transform: translateY(-12px) scale(1);
        -ms-transform: translateY(-12px) scale(1);
        transform: translateY(-12px) scale(1);
    }
}
@-o-keyframes bubbles {
    0% {
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
        -webkit-transform: translateY(-2px) scale(0.8);
        -moz-transform: translateY(-2px) scale(0.8);
        -o-transform: translateY(-2px) scale(0.8);
        -ms-transform: translateY(-2px) scale(0.8);
        transform: translateY(-2px) scale(0.8);
    }
    100% {
        opacity: 1;
        -ms-filter: none;
        filter: none;
        -webkit-transform: translateY(-12px) scale(1);
        -moz-transform: translateY(-12px) scale(1);
        -o-transform: translateY(-12px) scale(1);
        -ms-transform: translateY(-12px) scale(1);
        transform: translateY(-12px) scale(1);
    }
}
@keyframes bubbles {
    0% {
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
        -webkit-transform: translateY(-2px) scale(0.8);
        -moz-transform: translateY(-2px) scale(0.8);
        -o-transform: translateY(-2px) scale(0.8);
        -ms-transform: translateY(-2px) scale(0.8);
        transform: translateY(-2px) scale(0.8);
    }
    100% {
        opacity: 1;
        -ms-filter: none;
        filter: none;
        -webkit-transform: translateY(-12px) scale(1);
        -moz-transform: translateY(-12px) scale(1);
        -o-transform: translateY(-12px) scale(1);
        -ms-transform: translateY(-12px) scale(1);
        transform: translateY(-12px) scale(1);
    }
}
@-moz-keyframes fade-up {
    0% {
        opacity: 1;
        -ms-filter: none;
        filter: none;
    }
    100% {
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
        -webkit-transform: translateY(-15px);
        -moz-transform: translateY(-15px);
        -o-transform: translateY(-15px);
        -ms-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}
@-webkit-keyframes fade-up {
    0% {
        opacity: 1;
        -ms-filter: none;
        filter: none;
    }
    100% {
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
        -webkit-transform: translateY(-15px);
        -moz-transform: translateY(-15px);
        -o-transform: translateY(-15px);
        -ms-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}
@-o-keyframes fade-up {
    0% {
        opacity: 1;
        -ms-filter: none;
        filter: none;
    }
    100% {
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
        -webkit-transform: translateY(-15px);
        -moz-transform: translateY(-15px);
        -o-transform: translateY(-15px);
        -ms-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}
@keyframes fade-up {
    0% {
        opacity: 1;
        -ms-filter: none;
        filter: none;
    }
    100% {
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
        -webkit-transform: translateY(-15px);
        -moz-transform: translateY(-15px);
        -o-transform: translateY(-15px);
        -ms-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}
@-moz-keyframes fade-up-stay {
    0% {
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
    }
    100% {
        opacity: 1;
        -ms-filter: none;
        filter: none;
        -webkit-transform: translateY(-15px);
        -moz-transform: translateY(-15px);
        -o-transform: translateY(-15px);
        -ms-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}
@-webkit-keyframes fade-up-stay {
    0% {
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
    }
    100% {
        opacity: 1;
        -ms-filter: none;
        filter: none;
        -webkit-transform: translateY(-15px);
        -moz-transform: translateY(-15px);
        -o-transform: translateY(-15px);
        -ms-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}
@-o-keyframes fade-up-stay {
    0% {
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
    }
    100% {
        opacity: 1;
        -ms-filter: none;
        filter: none;
        -webkit-transform: translateY(-15px);
        -moz-transform: translateY(-15px);
        -o-transform: translateY(-15px);
        -ms-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}
@keyframes fade-up-stay {
    0% {
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
    }
    100% {
        opacity: 1;
        -ms-filter: none;
        filter: none;
        -webkit-transform: translateY(-15px);
        -moz-transform: translateY(-15px);
        -o-transform: translateY(-15px);
        -ms-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}
@-moz-keyframes hide-loading-message {
    0% {
        opacity: 1;
        -ms-filter: none;
        filter: none;
    }
    100% {
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
        -webkit-transform: translateY(-15%);
        -moz-transform: translateY(-15%);
        -o-transform: translateY(-15%);
        -ms-transform: translateY(-15%);
        transform: translateY(-15%);
    }
}
@-webkit-keyframes hide-loading-message {
    0% {
        opacity: 1;
        -ms-filter: none;
        filter: none;
    }
    100% {
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
        -webkit-transform: translateY(-15%);
        -moz-transform: translateY(-15%);
        -o-transform: translateY(-15%);
        -ms-transform: translateY(-15%);
        transform: translateY(-15%);
    }
}
@-o-keyframes hide-loading-message {
    0% {
        opacity: 1;
        -ms-filter: none;
        filter: none;
    }
    100% {
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
        -webkit-transform: translateY(-15%);
        -moz-transform: translateY(-15%);
        -o-transform: translateY(-15%);
        -ms-transform: translateY(-15%);
        transform: translateY(-15%);
    }
}
@keyframes hide-loading-message {
    0% {
        opacity: 1;
        -ms-filter: none;
        filter: none;
    }
    100% {
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
        -webkit-transform: translateY(-15%);
        -moz-transform: translateY(-15%);
        -o-transform: translateY(-15%);
        -ms-transform: translateY(-15%);
        transform: translateY(-15%);
    }
}
