// 700 400 600
@font-face {
    font-family: 'Proxima Nova';
    src: url('/assets/fonts/ProximaNova-Light.eot');
    src: local('☺'), url('/assets/fonts/ProximaNova-Light.woff') format('woff'), url('/assets/fonts/ProximaNova-Light.ttf') format('truetype'), url('/assets/fonts/ProximaNova-Light.svg') format('svg');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Proxima Nova';
    src: url('/assets/fonts/ProximaNova-Bold.eot');
    src: local('☺'), url('/assets/fonts/ProximaNova-Bold.woff') format('woff'), url('/assets/fonts/ProximaNova-Bold.ttf') format('truetype'), url('/assets/fonts/ProximaNova-Bold.svg') format('svg');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Proxima Nova';
    src: url('/assets/fonts/ProximaNova-ExtraBold.eot');
    src: local('☺'), url('/assets/fonts/ProximaNova-ExtraBold.woff') format('woff'), url('/assets/fonts/ProximaNova-ExtraBold.ttf') format('truetype'), url('/assets/fonts/ProximaNova-ExtraBold.svg') format('svg');
    font-weight: 700;
    font-style: normal;
}


