body {
    font-family: 'Proxima Nova';
    font-weight: 400;
    font-size: 18px;
}
ul {
    padding-left: 0;
    list-style: none;
    margin-bottom: 0;
}

.form-control {
    &:focus {
        box-shadow: none;
    }
}

img {
    max-width: 100%;
}
