@import "/assets/plugins/slick/slick";
@import "fonts";
@import "typography";
@import "_variables";
@import "buttons";
@import "reset";

.logoWrapper {
    background: $darkColor;
    padding: 28px 0;
    text-align: center;

    &.light {
        background: #fff;
    }
}
.footer {
    background: $darkColor;
    color: #fff;
    padding: 30px 0 40px;
    text-align: center;
    font-size: 12px;

    p {
        margin-bottom: 0;
    }
}

.banner {
    background: $primaryColor;
    text-align: center;
    position: relative;
    padding: 35px 0;

    @media (max-width: 992px) {
        img {
            margin: 0 0 35px;
        }
    }

    .container {
        position: relative;
    }

    .socials {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);

        @media (max-width: 992px) {
            display: block;
            position: static;
            transform: none;
        }

        li {
            margin-bottom: 16px;
            &:last-child {
                margin-bottom: 0;
            }
            @media (max-width: 992px) {
                display: inline-block;
                margin: 0 8px;
            }
        }

        a {
            display: flex;
            width: 32px;
            height: 32px;
            background: #fff;
            border-radius: 20px;
            text-align: center;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: $primaryColor;
        }

        svg {
            width: 16px;
        }

    }
}


.sliderWrapper {
    position: relative;
}
.slider {
    position: relative;
    .slide {
        padding: 145px 0 285px;
        position: relative;

        @media (max-width: 640px) {
            padding: 100px 0 200px;
        }

        img, .video-back {
            position: absolute !important;
            width: 100%;
            height: 100% !important;
            top: 0;
            left: 0;
            object-fit: cover;
            z-index: 1;
        }

        .video-back {
            z-index: 2;

            @media (max-width: 640px) {
                display: none;
            }
        }

        .video-back:before {
            display: block;
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: #000;
            opacity: 0.5;
        }

        .slideContent {
            position: relative;
            z-index: 2;
            color: #fff;

            h2 {
                margin: 0 0 15px;
            }
        }
    }
}

.sliderNavigation {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 53px;

    .container {
        display: flex;
        align-items: center;
    }

    .sliderDots, .newsSliderDots {
        padding-left: 20px;
    }
}

.sliderArrow {
    border: none;
    background: none;

    svg path {
        transition: 0.3s;
    }

    &:hover {
        svg path {
            fill: $primaryColor;
        }
    }
}

.slick-dots {
    display: flex;
    li {
        display: flex;
        padding: 0 5px;
        button {
            width: 19px;
            height: 8px;
            border: 1px solid #fff;
            background: none;
            color: transparent;
            border-radius: 5px;
            transition: 0.3s;
            font-size: 0;

            &:hover {
                background: #fff;
            }
        }

        &.slick-active {
            button {
                width: 38px;
                background: #fff;
            }
        }
    }
}

.news {
    background: $primaryColor;
    padding: 145px 0;
    color: #fff;

    @media (max-width: 640px) {
        padding: 100px 0;
    }
}

.magic {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 78px 0;
    background-image: url("/assets/magic.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.fullWidthSection {
    display: flex;
    flex-wrap: wrap;
    position: relative;

    .column {
        display: flex;
        position: relative;
        width: 50%;
        padding: 160px 80px;

        @media (max-width: 992px) {
            width: 100%;
        }

        @media (max-width: 640px) {
            padding: 100px 40px;
        }

        &:first-child {
            justify-content: flex-end;
            @media (max-width: 992px) {
                justify-content: center;
            }
        }

        &.image {
            @media (max-width: 992px) {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                opacity: 0.2;
                z-index: 1;
            }
            img {
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                object-fit: cover;
                object-position: center;
            }
        }
    }

    .posts & {
        .newsContent {
            position: relative;
            max-width: 450px;
            z-index: 5;
        }
        &:nth-child(2n){
            flex-direction: row-reverse;
            background: $primaryColor;

            .column:first-child {
                justify-content: flex-start;
            }

            h2, p {
                color: #fff;
            }

            .button {
                background: $darkColor;
                border-color: $darkColor;

                &:hover {
                    background: none;
                    border-color: $darkColor;
                    color: #000;
                }
            }
        }
    }
}

.formGraphic{
    text-align: center;
}

.form {
    width: 100%;
    max-width: 550px;

    .col-md-6, .col-md-12 {
        padding: 5px;
    }

    .form-control {
        padding-left: 15px;
        color: $grayColor;
        font-size: 14px;
        border-radius: 3px;
        border: none;
        min-height: 40px;
    }

    .button {
        width: 100%;
    }
}

.newsSliderWrapper {
    position: relative;

    .sliderNavigation {
        width: 50%;
        padding: 0 80px;
        display: flex;
        justify-content: flex-end;

        @media (max-width: 992px) {
            width: 100%;
            padding: 0 40px;
        }

        @media (max-width: 640px) {
            width: 100%;
            padding: 0 30px;
        }

        .newsContainer {
            display: flex;
            align-items: center;
            max-width: 450px;
            width: 100%;
        }

        .sliderArrow:hover svg path {
            fill: $darkColor;
        }
    }

    .fullWidthSection .column {
        padding: 160px 80px 250px;

        @media (max-width: 992px) {
            padding: 100px 40px 150px;
        }

        @media (max-width: 640px) {
            padding: 100px 30px 150px;
        }
    }

    .fullWidthSection {
        height: 100%;
    }
}

.newsSlide {
    background: $primaryColor;
    color: #fff;

    img {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        object-fit: cover;
        object-position: center;
    }

    .newsContent {
        position: relative;
        max-width: 450px;
        z-index: 5;
    }
}

.cases {
    display: flex;
    flex-wrap: wrap;

    .case {
        width: 20%;
        background: $primaryColor;

        a {
            display: block;
            cursor: pointer;
        }

        h2 {
            color: $primaryColor;
            transition: 0.3s;
        }

        &.last {
           h3 {
               opacity: 0;
           }
        }

        @media (max-width: 992px) {
            width: 25%;

            &.last {
                width: 100%;
                .imgWrapper {
                    display: none;
                }
            }
        }

        @media (max-width: 768px) {
            width: 50%;
            &.last {
                width: 100%;
            }
        }

        @media (max-width: 450px) {
            width: 100%;
        }

        .imgWrapper {
            position: relative;
            padding: 0 0 80%;
            filter: grayscale(0.7);
            transition: 0.3s;

            img {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                object-fit: cover;
                object-position: center;
            }
        }

        .caseContent {
            text-align: center;
            padding: 40px 20px 50px;

            p {
                color: #fff;
            }
        }

        &:nth-child(2n-1) {
            background: #fff;
            h3 {
                color: $primaryColor;
            }
            p {
                color: #000;
            }
        }

        &:hover {
            .imgWrapper {
                filter: grayscale(0);
            }

            h2 {
                color: $darkColor;
            }
        }
    }
}

.post {
    h1 {
        font-size: 40px;
        font-weight: 600;
        margin: 80px 0 35px;
        text-align: center;
    }

    img {
        width: 100%;
        margin-top: 30px;
    }

    .postContent {
        padding: 100px 0;
    }
}
.postMeta {
    margin: 0 0 100px;
}
.up {
    display: flex;
    width: 32px;
    height: 32px;
    border-radius: 3px;
    background: $darkColor;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    transition: 0.3s;
    float: right;

    &:hover {
        background: $primaryColor;
    }

    svg {
        width: 14px;
        color: #fff;
    }
}

.mfp-hide {
    display: none;
}
.white-popup-block {
    background: #fff;
    max-width: 640px;
    margin: 40px auto;
    position: relative;

    .popup-modal-dismiss {
        position: absolute;
        top: 0;
        right: 0;
        width: 40px;
        height: 40px;
        background: $primaryColor;
        color: #fff;
        font-size: 24px;
        font-weight: bold;
        text-align: center;
    }

    img {
        width: 100%;
    }

    .white-popup-content {
        display: block;
        padding: 20px 30px;
        text-align: center;

        h2 {
            margin: 0 0 10px;
        }
    }
}


.bottleAnimation {
    position: relative;
    background: #fff;
    overflow: hidden;
    margin: 50px 0;

    .filledBottle {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        background: #000;
        height: 50%;
        z-index: 1;

        img {
            position: absolute;
            width: 60%;
            top: 0;
            left: 55%;
            transform: translate(-50%, -98%);
        }

    }
    img {
        position: relative;
        z-index: 2;
    }

    .counterWrapper {
        position: absolute;
        right: 30%;
        height: 85%;
        width: 20px;
        bottom: 4%;
        z-index: 2;

        &:before {
            display: block;
            content: "";
            background: #fff;
            border-radius: 10px;
            height: 100%;
            width: 20px;
            position: absolute;
            top: 0;
            left: 0;
            background-image: url(/assets/ruler.jpg);
            background-repeat-y: repeat;
            background-size: contain;
        }

        .counter {
            display: inline-block;
            background: #000;
            color: #fff;
            padding: 4px 12px;
            border-radius: 20px;
            font-size: 12px;
            position: absolute;
            left: 30px;
            bottom: 10%;
            width: 75px;

            &:before {
                content: "";
                display: block;
                width: 30px;
                height: 1px;
                background: #000;
                position: absolute;
                left: 0;
                top: 50%;
                transform: translate(-100%,-50%)
            }
        }
    }
}

.slick-track
{
    display: flex !important;
}

.slick-slide
{
    height: inherit !important;
}
