h1 {
    font-size: 64px;
    font-weight: 600;
}
h2 {
    font-size: 40px;
    font-weight: 600;
    margin: 0 0 35px;
}
h3 {
    font-size: 16px;
    margin: 0 0 20px;
    font-weight: 600;
}
a {
    color: inherit;
    text-decoration: none;

    &:hover {
        color: inherit;
    }
}
p {
    margin: 0 0 20px;

    &:last-child {
        margin-bottom: 0;
    }
}
