@charset "UTF-8";
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir=rtl] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("/assets/fonts/ProximaNova-Light.eot");
  src: local("☺"), url("/assets/fonts/ProximaNova-Light.woff") format("woff"), url("/assets/fonts/ProximaNova-Light.ttf") format("truetype"), url("/assets/fonts/ProximaNova-Light.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("/assets/fonts/ProximaNova-Bold.eot");
  src: local("☺"), url("/assets/fonts/ProximaNova-Bold.woff") format("woff"), url("/assets/fonts/ProximaNova-Bold.ttf") format("truetype"), url("/assets/fonts/ProximaNova-Bold.svg") format("svg");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("/assets/fonts/ProximaNova-ExtraBold.eot");
  src: local("☺"), url("/assets/fonts/ProximaNova-ExtraBold.woff") format("woff"), url("/assets/fonts/ProximaNova-ExtraBold.ttf") format("truetype"), url("/assets/fonts/ProximaNova-ExtraBold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}
h1 {
  font-size: 64px;
  font-weight: 600;
}

h2 {
  font-size: 40px;
  font-weight: 600;
  margin: 0 0 35px;
}

h3 {
  font-size: 16px;
  margin: 0 0 20px;
  font-weight: 600;
}

a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  color: inherit;
}

p {
  margin: 0 0 20px;
}
p:last-child {
  margin-bottom: 0;
}

.primaryBackground {
  background: #ED1B24;
}

.darkBackground {
  background: #000;
}

.button {
  display: inline-block;
  font-size: 14px;
  text-align: center;
  color: #fff;
  background: #ED1B24;
  border-radius: 3px;
  padding: 10px 50px;
  transition: 0.3s;
  border: 2px solid #ED1B24;
}
.button:hover {
  background: none;
  border-color: #ED1B24;
  color: #ED1B24;
}
.button.buttonPrimary {
  background: #ED1B24;
  border-color: #ED1B24;
}
.button.buttonPrimary:hover {
  background: none;
  border-color: #ED1B24;
  color: #ED1B24;
}
.button.buttonDark {
  background: #000;
  border-color: #000;
}
.button.buttonDark:hover {
  background: none;
  border-color: #000;
  color: #000;
}

.buttonWrapper .button {
  margin: 40px 20px 0 0;
}
@media (max-width: 640px) {
  .buttonWrapper .button {
    margin: 20px 20px 0 0;
  }
}
.buttonWrapper .button:last-child {
  margin-right: 0;
}

body {
  font-family: "Proxima Nova";
  font-weight: 400;
  font-size: 18px;
}

ul {
  padding-left: 0;
  list-style: none;
  margin-bottom: 0;
}

.form-control:focus {
  box-shadow: none;
}

img {
  max-width: 100%;
}

.logoWrapper {
  background: #000;
  padding: 28px 0;
  text-align: center;
}
.logoWrapper.light {
  background: #fff;
}

.footer {
  background: #000;
  color: #fff;
  padding: 30px 0 40px;
  text-align: center;
  font-size: 12px;
}
.footer p {
  margin-bottom: 0;
}

.banner {
  background: #ED1B24;
  text-align: center;
  position: relative;
  padding: 35px 0;
}
@media (max-width: 992px) {
  .banner img {
    margin: 0 0 35px;
  }
}
.banner .container {
  position: relative;
}
.banner .socials {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
@media (max-width: 992px) {
  .banner .socials {
    display: block;
    position: static;
    transform: none;
  }
}
.banner .socials li {
  margin-bottom: 16px;
}
.banner .socials li:last-child {
  margin-bottom: 0;
}
@media (max-width: 992px) {
  .banner .socials li {
    display: inline-block;
    margin: 0 8px;
  }
}
.banner .socials a {
  display: flex;
  width: 32px;
  height: 32px;
  background: #fff;
  border-radius: 20px;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ED1B24;
}
.banner .socials svg {
  width: 16px;
}

.sliderWrapper {
  position: relative;
}

.slider {
  position: relative;
}
.slider .slide {
  padding: 145px 0 285px;
  position: relative;
}
@media (max-width: 640px) {
  .slider .slide {
    padding: 100px 0 200px;
  }
}
.slider .slide img, .slider .slide .video-back {
  position: absolute !important;
  width: 100%;
  height: 100% !important;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 1;
}
.slider .slide .video-back {
  z-index: 2;
}
@media (max-width: 640px) {
  .slider .slide .video-back {
    display: none;
  }
}
.slider .slide .video-back:before {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.5;
}
.slider .slide .slideContent {
  position: relative;
  z-index: 2;
  color: #fff;
}
.slider .slide .slideContent h2 {
  margin: 0 0 15px;
}

.sliderNavigation {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 53px;
}
.sliderNavigation .container {
  display: flex;
  align-items: center;
}
.sliderNavigation .sliderDots, .sliderNavigation .newsSliderDots {
  padding-left: 20px;
}

.sliderArrow {
  border: none;
  background: none;
}
.sliderArrow svg path {
  transition: 0.3s;
}
.sliderArrow:hover svg path {
  fill: #ED1B24;
}

.slick-dots {
  display: flex;
}
.slick-dots li {
  display: flex;
  padding: 0 5px;
}
.slick-dots li button {
  width: 19px;
  height: 8px;
  border: 1px solid #fff;
  background: none;
  color: transparent;
  border-radius: 5px;
  transition: 0.3s;
  font-size: 0;
}
.slick-dots li button:hover {
  background: #fff;
}
.slick-dots li.slick-active button {
  width: 38px;
  background: #fff;
}

.news {
  background: #ED1B24;
  padding: 145px 0;
  color: #fff;
}
@media (max-width: 640px) {
  .news {
    padding: 100px 0;
  }
}

.magic {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 78px 0;
  background-image: url("/assets/magic.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.fullWidthSection {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
.fullWidthSection .column {
  display: flex;
  position: relative;
  width: 50%;
  padding: 160px 80px;
}
@media (max-width: 992px) {
  .fullWidthSection .column {
    width: 100%;
  }
}
@media (max-width: 640px) {
  .fullWidthSection .column {
    padding: 100px 40px;
  }
}
.fullWidthSection .column:first-child {
  justify-content: flex-end;
}
@media (max-width: 992px) {
  .fullWidthSection .column:first-child {
    justify-content: center;
  }
}
@media (max-width: 992px) {
  .fullWidthSection .column.image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    z-index: 1;
  }
}
.fullWidthSection .column.image img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.posts .fullWidthSection .newsContent {
  position: relative;
  max-width: 450px;
  z-index: 5;
}
.posts .fullWidthSection:nth-child(2n) {
  flex-direction: row-reverse;
  background: #ED1B24;
}
.posts .fullWidthSection:nth-child(2n) .column:first-child {
  justify-content: flex-start;
}
.posts .fullWidthSection:nth-child(2n) h2, .posts .fullWidthSection:nth-child(2n) p {
  color: #fff;
}
.posts .fullWidthSection:nth-child(2n) .button {
  background: #000;
  border-color: #000;
}
.posts .fullWidthSection:nth-child(2n) .button:hover {
  background: none;
  border-color: #000;
  color: #000;
}

.formGraphic {
  text-align: center;
}

.form {
  width: 100%;
  max-width: 550px;
}
.form .col-md-6, .form .col-md-12 {
  padding: 5px;
}
.form .form-control {
  padding-left: 15px;
  color: #666666;
  font-size: 14px;
  border-radius: 3px;
  border: none;
  min-height: 40px;
}
.form .button {
  width: 100%;
}

.newsSliderWrapper {
  position: relative;
}
.newsSliderWrapper .sliderNavigation {
  width: 50%;
  padding: 0 80px;
  display: flex;
  justify-content: flex-end;
}
@media (max-width: 992px) {
  .newsSliderWrapper .sliderNavigation {
    width: 100%;
    padding: 0 40px;
  }
}
@media (max-width: 640px) {
  .newsSliderWrapper .sliderNavigation {
    width: 100%;
    padding: 0 30px;
  }
}
.newsSliderWrapper .sliderNavigation .newsContainer {
  display: flex;
  align-items: center;
  max-width: 450px;
  width: 100%;
}
.newsSliderWrapper .sliderNavigation .sliderArrow:hover svg path {
  fill: #000;
}
.newsSliderWrapper .fullWidthSection .column {
  padding: 160px 80px 250px;
}
@media (max-width: 992px) {
  .newsSliderWrapper .fullWidthSection .column {
    padding: 100px 40px 150px;
  }
}
@media (max-width: 640px) {
  .newsSliderWrapper .fullWidthSection .column {
    padding: 100px 30px 150px;
  }
}
.newsSliderWrapper .fullWidthSection {
  height: 100%;
}

.newsSlide {
  background: #ED1B24;
  color: #fff;
}
.newsSlide img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.newsSlide .newsContent {
  position: relative;
  max-width: 450px;
  z-index: 5;
}

.cases {
  display: flex;
  flex-wrap: wrap;
}
.cases .case {
  width: 20%;
  background: #ED1B24;
}
.cases .case a {
  display: block;
  cursor: pointer;
}
.cases .case h2 {
  color: #ED1B24;
  transition: 0.3s;
}
.cases .case.last h3 {
  opacity: 0;
}
@media (max-width: 992px) {
  .cases .case {
    width: 25%;
  }
  .cases .case.last {
    width: 100%;
  }
  .cases .case.last .imgWrapper {
    display: none;
  }
}
@media (max-width: 768px) {
  .cases .case {
    width: 50%;
  }
  .cases .case.last {
    width: 100%;
  }
}
@media (max-width: 450px) {
  .cases .case {
    width: 100%;
  }
}
.cases .case .imgWrapper {
  position: relative;
  padding: 0 0 80%;
  filter: grayscale(0.7);
  transition: 0.3s;
}
.cases .case .imgWrapper img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.cases .case .caseContent {
  text-align: center;
  padding: 40px 20px 50px;
}
.cases .case .caseContent p {
  color: #fff;
}
.cases .case:nth-child(2n-1) {
  background: #fff;
}
.cases .case:nth-child(2n-1) h3 {
  color: #ED1B24;
}
.cases .case:nth-child(2n-1) p {
  color: #000;
}
.cases .case:hover .imgWrapper {
  filter: grayscale(0);
}
.cases .case:hover h2 {
  color: #000;
}

.post h1 {
  font-size: 40px;
  font-weight: 600;
  margin: 80px 0 35px;
  text-align: center;
}
.post img {
  width: 100%;
  margin-top: 30px;
}
.post .postContent {
  padding: 100px 0;
}

.postMeta {
  margin: 0 0 100px;
}

.up {
  display: flex;
  width: 32px;
  height: 32px;
  border-radius: 3px;
  background: #000;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  transition: 0.3s;
  float: right;
}
.up:hover {
  background: #ED1B24;
}
.up svg {
  width: 14px;
  color: #fff;
}

.mfp-hide {
  display: none;
}

.white-popup-block {
  background: #fff;
  max-width: 640px;
  margin: 40px auto;
  position: relative;
}
.white-popup-block .popup-modal-dismiss {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  background: #ED1B24;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}
.white-popup-block img {
  width: 100%;
}
.white-popup-block .white-popup-content {
  display: block;
  padding: 20px 30px;
  text-align: center;
}
.white-popup-block .white-popup-content h2 {
  margin: 0 0 10px;
}

.bottleAnimation {
  position: relative;
  background: #fff;
  overflow: hidden;
  margin: 50px 0;
}
.bottleAnimation .filledBottle {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background: #000;
  height: 50%;
  z-index: 1;
}
.bottleAnimation .filledBottle img {
  position: absolute;
  width: 60%;
  top: 0;
  left: 55%;
  transform: translate(-50%, -98%);
}
.bottleAnimation img {
  position: relative;
  z-index: 2;
}
.bottleAnimation .counterWrapper {
  position: absolute;
  right: 30%;
  height: 85%;
  width: 20px;
  bottom: 4%;
  z-index: 2;
}
.bottleAnimation .counterWrapper:before {
  display: block;
  content: "";
  background: #fff;
  border-radius: 10px;
  height: 100%;
  width: 20px;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(/assets/ruler.jpg);
  background-repeat-y: repeat;
  background-size: contain;
}
.bottleAnimation .counterWrapper .counter {
  display: inline-block;
  background: #000;
  color: #fff;
  padding: 4px 12px;
  border-radius: 20px;
  font-size: 12px;
  position: absolute;
  left: 30px;
  bottom: 10%;
  width: 75px;
}
.bottleAnimation .counterWrapper .counter:before {
  content: "";
  display: block;
  width: 30px;
  height: 1px;
  background: #000;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(-100%, -50%);
}

.slick-track {
  display: flex !important;
}

.slick-slide {
  height: inherit !important;
}
